body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("https://s2.loli.net/2025/11/17/7pBxQ2dK8zNpVJh.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content {
  width: 70%;
  margin: 50px auto;
  padding: 30px;
  background: rgba(255,255,255,0.8);
  border-radius: 15px;
}
